<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <title><%= title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" href="stylesheets/sb-admin-2.css">
  <!-- Morris Charts CSS -->
  <link rel="stylesheet" href="vendor/morrisjs/morris.css" >
  <link rel="stylesheet" href="stylesheets/main.css" />
  <link rel="stylesheet" href="stylesheets/agentChat.css" />
</head>
<body>
  <div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">SHIELD</a>
      </div>
      <!-- /.navbar-header -->
      <ul class="nav navbar-top-links navbar-right">
        <!-- /.dropdown -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li><a href="/profile"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
            <li class="divider"></li>
            <li><a href="/login" id="signout-btn"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
          </ul>
          <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
      </ul>
      <!-- /.navbar-top-links -->
      <!--         <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu"> -->
      <li class="navMenu">
        <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
      </li>
      <li class="navMenu">
        <a href="/chatAll" class="active"><i class="fa fa-commenting fa-fw"></i> Chat</a>
      </li>
      <li class="navMenu">
        <a href="/tag"><i class="fa fa-commenting fa-fw"></i> Tag</a>
      </li>
      <li class="navMenu">
        <a href="/calendar"><i class="fa fa-table fa-fw"></i> Calendar</a>
      </li>
      <li class="navMenu">
        <a href="/ticket"><i class="fa fa-ticket fa-fw"></i> Support</a>
      </li>
      <!-- /.sidebar-collapse -->
      <!-- /.navbar-static-side -->
    </nav>
  </div>

  <nav style="width:100%;height:50px;margin-left:20%">
    <li class="navMenu">
      <a id="nav_subMenu" class="onclick_show" href="#" rel="聊天軟體"><i class="fa fa-dashboard fa-fw"></i> 聊天軟體<i id="聊天軟體" class="fa fa-check" aria-hidden="true"></i></a>
    </li>
    <li class="navMenu">
      <a id="nav_subMenu" class="onclick_show" href="#" rel="聊天用戶"><i class="fa fa-commenting fa-fw"></i> 聊天用戶<i id="聊天用戶" class="fa fa-check" aria-hidden="true"></i></a>
    </li>
    <li class="navMenu">
      <a id="nav_subMenu" class="onclick_show" href="#" rel="聊天室"><i class="fa fa-commenting fa-fw"></i> 對話窗<i id="聊天室" class="fa fa-check" aria-hidden="true"></i></a>
    </li>
    <li class="navMenu">
      <a id="nav_subMenu" class="onclick_show" href="#" rel="用戶檔案"><i class="fa fa-table fa-fw"></i> 用戶檔案<i id="用戶檔案" class="fa fa-check" aria-hidden="true"></i></a>
    </li>
    <li class="navMenu">
      <a id="nav_subMenu" class="onclick_show" href="#" rel="內部聊天室">
        <i class="fa fa-ticket fa-fw"></i> 內部聊天室
        <i id="內部聊天室" class="fa fa-check" aria-hidden="true"></i>
      </a>
    </li>

  </nav>

  <h5 style="text-align: center; " id="printAgent"></h5>

  <!--headBar-->
  <div id="headBar">

    <div class="filterUnit btn-group" id="filter_option">
      <button class="filter_btn" data-toggle="dropdown" aria-expanded="false">
        選擇搜尋依據
        <b class="caret"></b>
      </button>
      <ul class="multiselect-container dropdown-menu">
        <div class="filterSelect" id="selectBy">
          <li><p id="warning" style="font-size:8px; color: red;">&nbsp;</p></li>
          <li><input type="checkbox" value="filter_age" checked>年齡</li>
          <li><input type="checkbox" value="filter_place" checked>地區</li>
          <li><input type="checkbox" value="filter_recent" checked>上次聊天時間</li>
          <li><input type="checkbox" value="filter_first" checked>首次聊天時間</li>
        </div>
      </ul>
    </div>

    <div class="filterUnit">
      <button class="filter_btn" id="filterBtn">filter</button>
    </div>
    <div class="filterUnit">
      <button class="filter_btn" id="filterBtn-clean">show all</button>
    </div>

    <div class="filterPanel">

      <div style="display:none" class="filterUnit filterBar btn-group" id="filter_age">
        <button class="filter_btn" data-toggle="dropdown" aria-expanded="false">
          年齡:<span class="multiselect-selected-text" min="0" max="999">全選</span>
          <b class="caret"></b>
        </button>
        <ul class="multiselect-container dropdown-menu">
          <div class="filterSlider" id="age">
          </div>
        </ul>
      </div>

      <div  style="display:none"  class="filterUnit filterBar btn-group" id="filter_place">
        <button class="filter_btn" data-toggle="dropdown" aria-expanded="false">
          地區:<span class="multiselect-selected-text">全選</span>
          <b class="caret"></b>
        </button>
        <ul class="multiselect-container dropdown-menu">
          <div class="filterSelect" id="place">
            <!-- <li><button value="全選" checked id="select-all">全選</li> -->
            <li><input type="checkbox" value="北部" checked>北部</li>
            <li><input type="checkbox" value="中部" checked>中部</li>
            <li><input type="checkbox" value="東部" checked>東部</li>
            <li><input type="checkbox" value="南部" checked>南部</li>
          </div>
        </ul>
      </div>

      <div  style="display:none"  class="filterUnit filterBar btn-group" id="filter_recent">
        <button class="filter_btn" data-toggle="dropdown" aria-expanded="false">
          上次聊天時間:<span class="multiselect-selected-text" min="0" max="9999999999999">全選</span>
          <b class="caret"></b>
        </button>
        <ul class="multiselect-container dropdown-menu">
          <div class="filterSlider" id="recent">
          </div>
        </ul>
      </div>

      <div  style="display:none" class="filterUnit filterBar btn-group" id="filter_first" >
        <button class="filter_btn" data-toggle="dropdown" aria-expanded="false">
          首次聊天時間:<span class="multiselect-selected-text" min="0" max="9999999999999">全選</span>
          <b class="caret"></b>
        </button>
        <ul class="multiselect-container dropdown-menu">
          <div class="filterSlider" id="first">
          </div>
        </ul>
      </div>

    </div>
  </div><!--end headBar-->
  <!--聊天軟體-->
  <div id="聊天軟體" style="width:9%;background-color: /*#e4d1d1*/;margin-left:0.5%" class="tab">
    <!--LINE DROPDOWN1-->
    <div class="filterUnit filterBar btn-group" id="filter_VIP等級">
      <button class="filter_btn" data-toggle="dropdown" aria-expanded="false">跟著董事長遊台灣1<img class="software_icon" src="http://informatiekunde.dilia.be/sites/default/files/uploads/logo-line.png"><span class="multiselect-selected-text">全選</span>
        <b class="caret"></b>
      </button>
      <ul class="multiselect-container dropdown-menu">
        <div class="filterSelect" id="filter_VIP等級">
          <li><input type="checkbox" value="鑽石會員" checked>鑽石會員</li>
          <li><input type="checkbox" value="白金會員" checked>白金會員</li>
          <li><input type="checkbox" value="普通銅牌" checked>普通銅牌</li>
          <li><input type="checkbox" value="超級普通會員" checked>超級普通會員</li>
        </div>
      </ul>
    </div>
    <!--END LINE DRPODOWN1-->
    <!--LINE DROPDOWN2-->
    <div class="filterUnit filterBar btn-group" id="filter_VIP等級">
      <button class="filter_btn" data-toggle="dropdown" aria-expanded="false">跟著董事長遊台灣2<img class="software_icon" src="http://informatiekunde.dilia.be/sites/default/files/uploads/logo-line.png"><span class="multiselect-selected-text">全選</span>
        <b class="caret"></b>
      </button>
      <ul class="multiselect-container dropdown-menu">
        <div class="filterSelect" id="filter_VIP等級">
          <li><input type="checkbox" value="鑽石會員" checked>鑽石會員</li>
          <li><input type="checkbox" value="白金會員" checked>白金會員</li>
          <li><input type="checkbox" value="普通銅牌" checked>普通銅牌</li>
          <li><input type="checkbox" value="超級普通會員" checked>超級普通會員</li>
        </div>
      </ul>
    </div>
    <!--END LINE DRPODOWN2-->
    <!--FACEBOOK DROPDOWN-->
    <div class="filterUnit filterBar btn-group" >
      <button class="filter_btn" data-toggle="dropdown" aria-expanded="false"><img class="software_icon" src="https://facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-art.png"><span class="multiselect-selected-text">未開放</span>
        <b class="caret"></b>
      </button>
      <ul class="multiselect-container dropdown-menu">
        <div class="filterSelect">
          <li><input type="checkbox" value="鑽石會員" checked>鑽石會員</li>
          <li><input type="checkbox" value="白金會員" checked>白金會員</li>
          <li><input type="checkbox" value="普通銅牌" checked>普通銅牌</li>
          <li><input type="checkbox" value="超級普通會員" checked>超級普通會員</li>
        </div>
      </ul>
    </div>
    <!-- END FACEBOOK DROPDOWN-->
    <!--  WECHAT DROPDOWN-->
    <div class="filterUnit filterBar btn-group" >
      <button class="filter_btn" data-toggle="dropdown" aria-expanded="false"><img class="software_icon" src="https://cdn.worldvectorlogo.com/logos/wechat.svg"><span class="multiselect-selected-text">未開放</span>
        <b class="caret"></b>
      </button>
      <ul class="multiselect-container dropdown-menu">
        <div class="filterSelect">
          <li><input type="checkbox" value="鑽石會員" checked>鑽石會員</li>
          <li><input type="checkbox" value="白金會員" checked>白金會員</li>
          <li><input type="checkbox" value="普通銅牌" checked>普通銅牌</li>
          <li><input type="checkbox" value="超級普通會員" checked>超級普通會員</li>
        </div>
      </ul>
    </div>
    <!--END WECHAT DROPDOWN-->
    <!--KAKOTALK DROPDOWN-->
    <div class="filterUnit filterBar btn-group">
      <button class="filter_btn" data-toggle="dropdown" aria-expanded="false"><img class="software_icon" src="https://cdn.worldvectorlogo.com/logos/kakaotalk.svg"><span class="multiselect-selected-text">未開放</span>
        <b class="caret"></b>
      </button>
      <ul class="multiselect-container dropdown-menu">
        <div class="filterSelect">
          <li><input type="checkbox" value="鑽石會員" checked>鑽石會員</li>
          <li><input type="checkbox" value="白金會員" checked>白金會員</li>
          <li><input type="checkbox" value="普通銅牌" checked>普通銅牌</li>
          <li><input type="checkbox" value="超級普通會員" checked>超級普通會員</li>
        </div>
      </ul>
    </div>
    <!--END KAKAOTALK DROPDOWN-->
    <!--WHATSAPP DROPDOWN-->
    <div class="filterUnit filterBar btn-group" >
      <button class="filter_btn" data-toggle="dropdown" aria-expanded="false"><img class="software_icon" src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/whatsapp-256.png"><span class="multiselect-selected-text">未開放</span>
        <b class="caret"></b>
      </button>
      <ul class="multiselect-container dropdown-menu">
        <div class="filterSelect">
          <li><input type="checkbox" value="鑽石會員" checked>鑽石會員</li>
          <li><input type="checkbox" value="白金會員" checked>白金會員</li>
          <li><input type="checkbox" value="普通銅牌" checked>普通銅牌</li>
          <li><input type="checkbox" value="超級普通會員" checked>超級普通會員</li>
        </div>
      </ul>
    </div>
    <!--END WHATSAPP DROPDOWN-->
    <!--end 聊天軟體-->

  </div>

  <div id="聊天用戶" class="tab" style="background-color: /*#ddeedd*/;">
    <h4 class="tablinks_head">Network Loading...</h4>
    <div class="tablinks_area">
      <div id="chat-area"><b>-聊天中-</b></div>
      <ol class="list-group" id="clients"></ol>
      <div id="idle-area"><b>-閒置中-</b></div>
      <ol class="list-group" id="idle-roomes"></ol>
    </div>
  </div>

  <div id="聊天室" class="contentPanel" style="background-color: /*#c2d4dd*/;width:30%;">
    <!--         <input type="text" class="datepicker" id="startdate" placeholder="start date" readonly></input>
    <input type="text" class="datepicker" id="enddate" placeholder="end date" readonly></input>
    <button class="filterDate" id="firsttime">filter first chat time</button>
    <button class="filterDate" id="recenttime">filter recent chat time</button>
    <br> -->

    <!--         <select id="filterTimeSelect">
    <option value="0">0~5 min</option>
    <option value="1">5~10 min</option>
    <option value="2">10~30 min</option>
    <option value="3">30~60 min</option>
    <option value="4">60up min</option>
    </select>
    <button class="filterTime" id="avgtime">filter average time</button>
    <button class="filterTime" id="totaltime">filter total time</button>
    <br> -->

    <div style="margin-bottom: 8px">
      <select class="searchSelect">
        <option value="content">內容</option>
        <option value="sender">用戶</option>
        <option value="sendTime">訊息時間</option>>
        <option value="remark">標記</option>
      </select>
      <input type="text" class="searchBox" placeholder="Search for messages..">
      <button class="filterClean">清除</button>
    </div>


    <section id="canvas">

    </section>

    <!-- Trigger the modal with a button -->
    <div style="float:left">
      <form action="" id="send-message" disabled>
        <button style="background-color: transparent" rel="showAttImg" id="attImg" class="onclick_show"><i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i></button>
        <button style="background-color: transparent" rel="showAttVid" id="attVid" class="onclick_show"><i class="fa fa-file-video-o fa-2x" aria-hidden="true"></i></button>
        <button style="background-color: transparent" rel="showAttAud" id="attAud" class="onclick_show"><i class="fa fa-file-audio-o fa-2x" aria-hidden="true"></i></button>
        <select style="float:right" id="user-rooms">
          <option id="selectAll" value="全選">全選</option>
          <option id="selectAll" value="對可見用戶發送">對可見用戶發送</option>
        </select>
        <input style="width:100%; height:100px" size="35" id="message" />
        <input type="submit"/>
      </form>
      <div style="float:bottom">
        <div style="display:none; float:left" id="showAttImg"><input size="35" id="attImgFill" placeholder="輸入圖片網址"/><button id="upImg">Upload</button></div>
        <div style="display:none; float:left" id="showAttVid"><input size="35" id="attVidFill" placeholder="輸入影片網址"/><button id="upVid">Upload</button></div>
        <div style="display:none; float:left" id="showAttAud"><input size="35" id="attAudFill" placeholder="輸入音訊網址"/><button id="upAud">Upload</button></div>
      </div>
    </div>


  </div><!--end contentPanel-->

<!--customer info -->
  <div id="用戶檔案" style="padding:1%;background-color: /*#c2d4dd*/;" class="tab">
    <button id="userInfoBtn" class="btn btn-default" data-toggle="modal" data-target="#userInfoModal">查看用戶檔案</button>
    <img src="" alt="無法顯示相片" class="userPhoto" style="width:128px;height:128px;">
    <table class="info_input_table"></table>
    <div style="padding-top: 3%">
      <button id="userInfo-submit" class="btn btn-default">儲存變更</button>
    </div>
    <h5><b>用戶偏好</b></h5>
    <h5><b>代辦事項</b></h5>
    <h5><b>購買記錄</b></h5>
  </div>
  <!-- end customer info-->

  <!--internal chat-->
  <div style="float:left!important;height:600px;width: 30%;background-color: /*#b0aac0*/;border:solid 1px lightgrey;float:right;"
  id="內部聊天室">
    <h5 style="text-align:center"><b>內部聊天室</b>

    </h5>
    <div id="group-container">
      <button class="btn btn-default"></button>
        <!-- <button>asdf</button>
        <button>asdf</button>
        <button>asdf</button>
        <button>asdf</button>
        <button>asdf</button>
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
        <button>asdf</button>
        <button>asdf</button>
        <button>asdf</button>
        <button>asdf</button>
        <button>asdf</button>
        <button>asdf</button>
        <button>asdf</button>
        <button>asdf</button>
        <button>asdf</button>
        <button>asdf</button>
        <button>asdf</button> -->
    </div>
  </div>
  <!--end internal chat-->


  <!-- Modal -->
  <div class="modal fade" id="userInfoModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">&times;</button>
          <img src="" alt="無法顯示相片" class="userPhoto" style="width:128px;height:128px;">
          <h4 class="modal-title">User NickName</h4>
        </div>
        <div class="modal-body">
          <table class="info_input_table">

          </table>
        </div>
        <div class="modal-footer">
          <button id="userInfo-submit" class="btn btn-default" style="background-color: greenyellow;">Confirm</button>
          <button id="userInfo-cancel" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end -->

  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
  <!-- <script src="javascripts/bootstrap-slider.js"></script> -->
  <script src="javascripts/firebaseConfig.js"></script>
  <script src="javascripts/sb-admin-2.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script src="javascripts/agentChat.js"></script>
</body>
</html>
