<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="stylesheets/sb-admin-2.css">
    <!-- Morris Charts CSS -->
    <link rel="stylesheet" href="vendor/morrisjs/morris.css" >
    <link rel="stylesheet" href="stylesheets/main.css" />
    <link rel="stylesheet" href="stylesheets/chatAll.css" />
  </head>
  <body>
    <div id="wrapper">
      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SHIELD</a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">

          <li>
            <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
          </li>
          <li>
            <a href="/chatAll" class="active"><i class="fa fa-commenting fa-fw"></i> Chat</a>
          </li>
          <li>
            <a href="/tag"><i class="fa fa-commenting fa-fw"></i> Tag</a>
          </li>
          <li>
            <a href="/calendar"><i class="fa fa-table fa-fw"></i> Calendar</a>
          </li>
          <li>
            <a href="/ticket"><i class="fa fa-ticket fa-fw"></i> Support</a>
          </li>

          <!-- /.dropdown -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="/profile"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
              <li class="divider"></li>
              <li><a href="/login" id="signout-btn"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
            </ul>
            <!-- /.dropdown-user -->
          </li>
          <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
        <!-- <div class="navbar-default sidebar" role="navigation">
          <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
              <li>
                <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
              </li>
              <li>
                <a href="/chatAll" class="active"><i class="fa fa-commenting fa-fw"></i> Chat</a>
              </li>
              <li>
                <a href="/tag"><i class="fa fa-commenting fa-fw"></i> Tag</a>
              </li>
              <li>
                <a href="/calendar"><i class="fa fa-table fa-fw"></i> Calendar</a>
              </li>
              <li>
                <a href="/ticket"><i class="fa fa-ticket fa-fw"></i> Support</a>
              </li>
            </ul>
          </div> -->
          <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
      </nav>
    </div>
    <div id="home">
      <h4 style="text-align: center" id="printAgent"></h4>

      <div id="headBar">

        <div class="filterBar btn-group" id="filter_age">
          <button data-toggle="dropdown" aria-expanded="false">
            年齡:<span class="multiselect-selected-text" min="0" max="999">全選</span>
            <b class="caret"></b>
          </button>
          <ul class="multiselect-container dropdown-menu">
            <div class="filterSlider" id="age">
            </div>
          </ul>
        </div>

        <div class="filterBar btn-group" id="filter_sex">
          <button data-toggle="dropdown" aria-expanded="false">
            性別:<span class="multiselect-selected-text">全選</span>
            <b class="caret"></b>
          </button>
          <ul class="multiselect-container dropdown-menu">
            <div class="filterSelect" id="sex">
              <!-- <li><button value="全選" checked id="select-all">全選</li> -->
              <li><input type="checkbox" value="男" checked>男</li>
              <li><input type="checkbox" value="女" checked>女</li>
            </div>
          </ul>
        </div>

        <div class="filterBar btn-group" id="filter_place">
          <button data-toggle="dropdown" aria-expanded="false">
            地區:<span class="multiselect-selected-text">全選</span>
            <b class="caret"></b>
          </button>
          <ul class="multiselect-container dropdown-menu">
            <div class="filterSelect" id="place">
              <!-- <li><button value="全選" checked id="select-all">全選</li> -->
              <li><input type="checkbox" value="北部" checked>北部</li>
              <li><input type="checkbox" value="中部" checked>中部</li>
              <li><input type="checkbox" value="東部" checked>東部</li>
              <li><input type="checkbox" value="南部" checked>南部</li>
            </div>
          </ul>
        </div>

        <div class="filterBar btn-group" id="filter_tag">
          <button data-toggle="dropdown" aria-expanded="false">
            Tag:<span class="multiselect-selected-text">全選</span>
            <b class="caret"></b>
          </button>
          <ul class="multiselect-container dropdown-menu">
            <div class="filterSelect" id="tag">
              <!-- <li><input type="checkbox" value="全選" checked>全選</li> -->
            </div>
          </ul>
        </div>

        <div class="filterBar btn-group" id="filter_recent">
          <button data-toggle="dropdown" aria-expanded="false">
            上次聊天時間:<span class="multiselect-selected-text" min="0" max="9999999999999">全選</span>
            <b class="caret"></b>
          </button>
          <ul class="multiselect-container dropdown-menu">
            <div class="filterSlider" id="recent">
            </div>
          </ul>
        </div>

        <div class="filterBar btn-group" id="filter_first" >
          <button data-toggle="dropdown" aria-expanded="false">
            首次聊天時間:<span class="multiselect-selected-text" min="0" max="9999999999999">全選</span>
            <b class="caret"></b>
          </button>
          <ul class="multiselect-container dropdown-menu">
            <div class="filterSlider" id="first">
            </div>
          </ul>
        </div>

        <div class="filterBar">
          <button id="filterBtn">filter</button>
        </div>
        <div class="filterBar">
          <button id="filterBtn-clean">show all</button>
        </div>

      </div>

      <div class="tab">
        <h4 class="tablinks_head">Network Loading...</h4>
        <div class="tablinks_area">
          <div id="chat-area">chat-area-------------</div>
          <ol class="list-group" id="clients"></ol>
          <div id="idle-area">idle-area-------------</div>
          <ol class="list-group" id="idle-roomes"></ol>
        </div>
      </div>

      <div class="contentPanel">
        <input type="text" class="datepicker" id="startdate" placeholder="start date" readonly></input>
        <input type="text" class="datepicker" id="enddate" placeholder="end date" readonly></input>
        <button class="filterDate" id="firsttime">filter first chat time</button>
        <button class="filterDate" id="recenttime">filter recent chat time</button>
        <br>

        <select id="filterTimeSelect">
          <option value="0">0~5 min</option>
          <option value="1">5~10 min</option>
          <option value="2">10~30 min</option>
          <option value="3">30~60 min</option>
          <option value="4">60up min</option>
        </select>
        <button class="filterTime" id="avgtime">filter average time</button>
        <button class="filterTime" id="totaltime">filter total time</button>
        <br>


        <select class="searchSelect">
          <option value="content">content</option>
          <option value="sender">sender</option>
          <option value="sendTime">msg time</option>>
          <option value="remark">remark</option>
        </select>
        <input type="text" class="searchBox" placeholder="Search for messages..">
        <button class="filterClean" style="margin-left: 10px;">clean</button>


        <section id="canvas">

        </section>

        <!-- Trigger the modal with a button -->
        <form action="" id="send-message" disabled>
          <select id="user-rooms">
            <option id="selectAll" value="全選">全選</option>
          </select>
          <input size="35" id="message" />
          <input type="submit"/>
        </form>

      </div>

      <div class="infoPanel">



        <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link" active='true'>Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" >Ticket</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " >ToDo</a>
              </li>
            </ul>
          </div>
          <section id="infoCanvas">

          </section>
          <!-- <div class="card-group">
            <div class="card-body" id="profile">
              Profile
            </div>
            <div class="card-body" id="ticket" hidden="true">
              Ticket
            </div>
            <div class="card-body" id="todo" hidden="true">
              ToDo
            </div>
          </div> -->
        </div>

      </div>

      <button id="userInfoBtn" class="btn btn-default" data-toggle="modal" data-target="#userInfoModal">Edit User Info</button>

      <!-- Modal -->
      <div class="modal fade" id="userInfoModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">&times;</button>
              <img src="" alt="無法顯示相片" class="userPhoto" style="width:128px;height:128px;">
              <h4 class="modal-title">User NickName</h4>
            </div>
            <div class="modal-body">
              <table class="info_input_table">

               </table>
            </div>
            <div class="modal-footer">
              <button id="userInfo-submit" class="btn btn-default" style="background-color: greenyellow;">Confirm</button>
              <button id="userInfo-cancel" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end -->

    </div>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
    <!-- <script src="javascripts/bootstrap-slider.js"></script> -->
    <script src="javascripts/firebaseConfig.js"></script>
    <script src="javascripts/sb-admin-2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="javascripts/chatAll.js"></script>
  </body>
</html>
