<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="stylesheets/sb-admin-2.css">
    <!-- Morris Charts CSS -->
    <link rel="stylesheet" href="vendor/morrisjs/morris.css" >
    <link rel="stylesheet" href="stylesheets/main.css" />
    <link rel="stylesheet" href="stylesheets/chatAll.css" />
  </head>
  <body>
    <div id="wrapper">
      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SHIELD</a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">
          <!-- /.dropdown -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="/profile"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
              <li class="divider"></li>
              <li><a href="/login" id="signout-btn"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
            </ul>
            <!-- /.dropdown-user -->
          </li>
          <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
<!--         <div class="navbar-default sidebar" role="navigation">
          <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu"> -->
              <li class="navMenu">
                <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
              </li>
              <li class="navMenu">
                <a href="/chatAll" class="active"><i class="fa fa-commenting fa-fw"></i> Chat</a>
              </li>
              <li class="navMenu">
                <a href="/tag"><i class="fa fa-commenting fa-fw"></i> Tag</a>
              </li>
              <li class="navMenu">
                <a href="/calendar"><i class="fa fa-table fa-fw"></i> Calendar</a>
              </li>
              <li class="navMenu">
                <a href="/ticket"><i class="fa fa-ticket fa-fw"></i> Support</a>
              </li>
          <!-- /.sidebar-collapse -->
        <!-- /.navbar-static-side -->
      </nav>
    </div>

      <h5 style="text-align: center; " id="printAgent"></h5>

      <!--headBar-->
      <div id="headBar">

        <div class="filterUnit btn-group" id="filter_option">
          <button class="filter_btn" data-toggle="dropdown" aria-expanded="false">
            選擇搜尋依據
            <b class="caret"></b>
          </button>
          <ul class="multiselect-container dropdown-menu">
            <div class="filterSelect" id="selectBy">
              <li><p id="warning" style="font-size:8px; color: red;">&nbsp;</p></li>
              <li><input type="checkbox" value="filter_age" checked>年齡</li>
              <li><input type="checkbox" value="filter_place" checked>地區</li>
              <li><input type="checkbox" value="filter_recent" checked>上次聊天時間</li>
              <li><input type="checkbox" value="filter_first" checked>首次聊天時間</li>
            </div>
          </ul>
        </div>

        <div class="filterUnit">
          <button class="filter_btn" id="filterBtn">filter</button>
        </div>
        <div class="filterUnit">
          <button class="filter_btn" id="filterBtn-clean">show all</button>
        </div>

        <div class="filterPanel">

          <div class="filterUnit filterBar btn-group" id="filter_age">
            <button class="filter_btn" data-toggle="dropdown" aria-expanded="false">
              年齡:<span class="multiselect-selected-text" min="0" max="999">全選</span>
              <b class="caret"></b>
            </button>
            <ul class="multiselect-container dropdown-menu">
              <div class="filterSlider" id="age">
              </div>
            </ul>
          </div>

          <div class="filterUnit filterBar btn-group" id="filter_place">
            <button class="filter_btn" data-toggle="dropdown" aria-expanded="false">
              地區:<span class="multiselect-selected-text">全選</span>
              <b class="caret"></b>
            </button>
            <ul class="multiselect-container dropdown-menu">
              <div class="filterSelect" id="place">
                <!-- <li><button value="全選" checked id="select-all">全選</li> -->
                <li><input type="checkbox" value="北部" checked>北部</li>
                <li><input type="checkbox" value="中部" checked>中部</li>
                <li><input type="checkbox" value="東部" checked>東部</li>
                <li><input type="checkbox" value="南部" checked>南部</li>
              </div>
            </ul>
          </div>

          <div class="filterUnit filterBar btn-group" id="filter_recent">
            <button class="filter_btn" data-toggle="dropdown" aria-expanded="false">
              上次聊天時間:<span class="multiselect-selected-text" min="0" max="9999999999999">全選</span>
              <b class="caret"></b>
            </button>
            <ul class="multiselect-container dropdown-menu">
              <div class="filterSlider" id="recent">
              </div>
            </ul>
          </div>

          <div class="filterUnit filterBar btn-group" id="filter_first" >
            <button class="filter_btn" data-toggle="dropdown" aria-expanded="false">
              首次聊天時間:<span class="multiselect-selected-text" min="0" max="9999999999999">全選</span>
              <b class="caret"></b>
            </button>
            <ul class="multiselect-container dropdown-menu">
              <div class="filterSlider" id="first">
              </div>
            </ul>
          </div>

        </div>
      </div><!--end headBar-->
      <!--聊天軟體-->
      <div style="width:10%;background-color: #e4d1d1" class="tab">
      <button><img class="software_icon" src="http://informatiekunde.dilia.be/sites/default/files/uploads/logo-line.png"></button>
      <button><img class="software_icon" src="https://facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-art.png"></button>
      <button><img class="software_icon" src="https://cdn.worldvectorlogo.com/logos/wechat.svg"></button>
      <button><img class="software_icon" src="https://cdn.worldvectorlogo.com/logos/kakaotalk.svg"></button>
      <button><img class="software_icon" src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/whatsapp-256.png"></button>
      <!--end 聊天軟體-->


      </div>

      <div class="tab" style="background-color: #ddeedd">
        <h4 class="tablinks_head">Network Loading...</h4>
        <div class="tablinks_area">
          <div id="chat-area">chat-area-------------</div>
          <ol class="list-group" id="clients"></ol>
          <div id="idle-area">idle-area-------------</div>
          <ol class="list-group" id="idle-roomes"></ol>
        </div>
      </div>

      <div class="contentPanel" style="background-color: #c2d4dd">
<!--         <input type="text" class="datepicker" id="startdate" placeholder="start date" readonly></input>
        <input type="text" class="datepicker" id="enddate" placeholder="end date" readonly></input>
        <button class="filterDate" id="firsttime">filter first chat time</button>
        <button class="filterDate" id="recenttime">filter recent chat time</button>
        <br> -->

<!--         <select id="filterTimeSelect">
          <option value="0">0~5 min</option>
          <option value="1">5~10 min</option>
          <option value="2">10~30 min</option>
          <option value="3">30~60 min</option>
          <option value="4">60up min</option>
        </select>
        <button class="filterTime" id="avgtime">filter average time</button>
        <button class="filterTime" id="totaltime">filter total time</button>
        <br> -->


        <select class="searchSelect">
          <option value="content">content</option>
          <option value="sender">sender</option>
          <option value="sendTime">msg time</option>>
          <option value="remark">remark</option>
        </select>
        <input type="text" class="searchBox" placeholder="Search for messages..">
        <button class="filterClean" style="margin-left: 10px;">clean</button>


        <section id="canvas">

        </section>

        <!-- Trigger the modal with a button -->
        <div style="float:left">
        <form action="" id="send-message" disabled>
          <select id="user-rooms">
            <option id="selectAll" value="全選">全選</option>
            <option id="selectAll" value="對可見用戶發送">對可見用戶發送</option>
          </select>
          <input size="35" id="message" />
          <input type="submit"/>
        </form>
        </div>
          <div style="float:left">傳送影音附件檔：
          <button style="background-color: transparent" id="attImg"><i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i></button>
          <button style="background-color: transparent" id="attVid"><i class="fa fa-file-video-o fa-2x" aria-hidden="true"></i></button>
          <button style="background-color: transparent" id="attAud"><i class="fa fa-file-audio-o fa-2x" aria-hidden="true"></i></button>
          <div style="display:none" id="showAttImg"><input size="35" id="attImgFill" placeholder="輸入圖片網址"/><button id="upImg">Upload</button></div>
          <div style="display:none" id="showAttVid"><input size="35" id="attVidFill" placeholder="輸入影片網址"/><button id="upVid">Upload</button></div>
          <div style="display:none" id="showAttAud"><input size="35" id="attAudFill" placeholder="輸入音訊網址"/><button id="upAud">Upload</button></div>
          </div>

      </div><!--end contentPanel-->

      <!--customer info -->
      <div style="background-color: #c2d4dd" class="tab">
        <button id="userInfoBtn" class="btn btn-default" data-toggle="modal" data-target="#userInfoModal">查看用戶檔案</button>
        <h5><b>用戶偏好</b></h5>
        <h5><b>代辦事項</b></h5>
        <h5><b>購買記錄</b></h5>

      </div>
      <!-- end customer info-->

      <!--internal chat-->
        <section style="float:right;height:500px;width: 350px;background-color: #b0aac0;border:solid 1px lightgrey;float:right;" id="canvas_info">
        <h5 style="text-align:center"><b>內部聊天室</b></h5>

        </section>
      <!--end internal chat-->


      <!-- Modal -->
      <div class="modal fade" id="userInfoModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">&times;</button>
              <img src="" alt="無法顯示相片" class="userPhoto" style="width:128px;height:128px;">
              <h4 class="modal-title">User NickName</h4>
            </div>
            <div class="modal-body">
              <table class="info_input_table">

               </table>
            </div>
            <div class="modal-footer">
              <button id="userInfo-submit" class="btn btn-default" style="background-color: greenyellow;">Confirm</button>
              <button id="userInfo-cancel" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end -->

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
    <!-- <script src="javascripts/bootstrap-slider.js"></script> -->
    <script src="javascripts/firebaseConfig.js"></script>
    <script src="javascripts/sb-admin-2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="javascripts/chatAll.js"></script>
  </body>
</html>
