<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title><%= title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="stylesheets/sb-admin-2.css">
    <link rel="stylesheet" href="stylesheets/dashboard.css" >
    <%# 自己的code%>
    <link rel="stylesheet" href="stylesheets/main.css" />
</head>
	<body>
		<nav>
			<div id=nav-header>
<!-- 				<img id="nav_img" src="https://cdn1.iconfinder.com/data/icons/seo-icons-4/29/Internet-512.png"> -->
				<h2>TiniLine</h2>
			</div>
			<button id="profile_btn">PRO<br/>FILE</button>
			<button id="create_btn"><a style="text-decoration: none" href="/chat">CREATE A CHAT</a></button>
		</nav>

		<div id="box">
		<a href="/order"><div style="margin-left:25%" id="info"><h4>您的訂購</h4></div></a>
		<a href="/index"><div id="info"><h4>管理內容</h4></div></a>
		<a href="/profile"><div style="margin-left: 25%" id="info" class="member"><h4>會員資料</h4></div></a>
		<a href="https://p.allpay.com.tw/uZv9Q"><div id="info"><h4>付款方式</h4></div></a>	
		</div>

<!-- 		<div id="sheet">
			<h4 style="margin-top: 5%">會員資料</h4>
			<table>
			<tr><td>NAME</td><td id="view_name">WWY</td><td><button id="edit">Edit</button></td></tr>
			<tr><td>EMAIL</td><td id="view_email">wei@gmail.com</td><td><button id="edit">Edit</button></td></tr>
			<tr><td>MOBILE</td><td id="view_mobile">0912345678</td><td><button id="edit">Edit</button></td></tr>
			<tr><td>BIRTHDAY</td><td id="view_birthday">12/12/12/</td><td><button id="edit">Edit</button></td></tr>
			<tr><td>GENDER</td><td id="view_gender">Female</td><td><button id="edit">Edit</button></td></tr>
			<tr><td>PASSWORD</td><td id="view_password">******</td><td><button id="edit">Edit</button></td></tr>
			</table>
		</div>
		<div style="margin: 10% 20% 10% 20%;" id="purchase">
			<h4 style="margin-top: 5%">您的訂購</h4>
			<table>
			<tr><td>NAME</td><td id="view_name">WWY</td></tr>
			<tr><td>TIME</td><td id="view_email">2017.08.17</td></tr>
			<tr><td>ITEM</td><td id="view_mobile">BUSINESS PLAN</td></tr>
			<tr><td>TOTAL</td><td id="view_birthday">NTD$2,400</td></tr>
			<tr><td>PAYMENT</td><td id="view_gender">CREDIT CARD - MASTER CARD 土地銀行</td></tr>
			</table>
		</div> -->

<script></script>
	</body>
</html>