<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title><%= title %></title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
      <link rel="stylesheet" href="stylesheets/sb-admin-2.css">
      <%# 自己的code%>
      <link rel="stylesheet" href="stylesheets/main.css" />
   </head>
   <body>
      <div id="wrapper">
         <!-- Navigation -->
         <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="/">PS Admin</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
               <!-- /.dropdown -->
               <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                     <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                     </li>
                     <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                     </li>
                     <li class="divider"></li>
                     <li><a href="/login" id="signout-btn"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                     </li>
                  </ul>
                  <!-- /.dropdown-user -->
               </li>
               <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
               <div class="sidebar-nav navbar-collapse">
                  <ul class="nav" id="side-menu">
                     <li>
                        <a href="/" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                     </li>
                     <li>
                        <a href="/chat"><i class="fa fa-commenting fa-fw"></i> Chat</a>
                     </li>
                     <li>
                        <a href="/calendar"><i class="fa fa-table fa-fw"></i> Calendar</a>
                     </li>

                     <li>
                        <a href="/ticket"><i class="fa fa-ticket fa-fw"></i> Support</a>
                     </li>

                     <li id="message">
                        <a href="#"><i class="fa fa-indent" aria-hidden="true"></i> Message</a>
                     </li>
                     <li class="subTag" style="display:none; font-size: 12px; line-height: auto; margin-left: 35px;">
                        <a href="/message_overview"> Overview</a>
                     </li>
                     <li class="subTag"  style="display:none; font-size: 12px; line-height: auto; margin-left: 35px;">
                        <a href="/message_newtopic"> New Topic</a>
                     </li>
                     <li class="subTag"  style="display:none; font-size: 12px; line-height: auto; margin-left: 35px;">
                        <a href="/message_autoreply"> Auto Reply</a>
                     </li>
                     <li class="subTag"  style="display:none; font-size: 12px; line-height: auto; margin-left: 35px;">
                        <a href="/message_keywordsreply"> Keywords Reply</a>
                     </li>
                     <li class="subTag"  style="display:none; font-size: 12px; line-height: auto; margin-left: 35px;">
                        <a href="/message_addfriendreply"> Add Friend Reply</a>
                     </li>

                  </ul>
               </div>
               <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
         </nav>
      </div>
      <div id="home">
		<h3> Message Overview</h3>
		<p>You can add, edit, and test the message you want to send to LINE@</p>
    <p>NOTE FOR DEVELOPERS:<br/>
    1. Limit users 功能未做(緩）<br/>
    2. Emoji未做(緩）<br/>
    3. Append Text部分完成，其他未做(緩）<br/>
    4. Sort/ Filter 功能未做<br/>
    5. History功能未做(緩）<br/>
    6. draft欄上UI空格暫未解決<br/>
    </p>

  <button type="button" style="margin:2% 0 2% 0" class="btn btn-default inner-add" data-toggle="modal" data-target="#quickAdd">
   <span class="fa fa-plus fa-fw"></span> Create New Topics
  </button>



		<div class="tab">
  <button class="tablinks" rel="Appointment">Appointment</button>
  <button class="tablinks" rel="Draft" >Draft</button>
  <button class="tablinks" rel="History">History</button>
</div>



<!-- Modal -->
<div class="modal fade" id="quickAdd" tabindex="-1" role="dialog" aria-labelledby="quickAddTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="quickAddTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <!-- Form Content -->
                <form>
                    <div class="form-group">
                        <label for="modal-task-name" class="col-2 col-form-label">Limit Users:</label>
                        <div class="col-4">
                          <form >
                          <input type="checkbox" name="Dateandtime" value="Time"> Send All
                          <br>
                          <input type="checkbox" name="SendNow" value="SendNow"> <a id="setlimit" rel="limituser">Send to Limited Users</a><br>
                          </form>
                        </div>
                    </div>

                <!-- LIMIT USER -->
<div id="limituser" style="display:none; background-color: lightblue">
<table>
<tr>
<td style="color:red"><b>NOTE: You have to have 100+ friends to activate this function.</b></td>
</tr>
<tr>
<td>
<p><b>Filter by User Attributes</b></p>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" class="tablinks" rel="text" >Age</button>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" class="tablinks" rel="sticker">Sex</button>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" class="tablinks" rel="image" >Location</button>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" class="tablinks" rel="coupon">Platform</button>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" class="tablinks" rel="election" >Time since add friend</button>
</td>
</tr>
<tr>
<td><b>Selected Users Percentage</b> <p style="color:red"><b>This is not available yet.</b></p>
</td>
</tr>
<tr>
<th>Tags(optional)   <input placeholder="example: female ios"></th>

</tr>
</table>
</div>
                    <!-- 時間 -->
                    <div class="form-group">
                        <label for="modal-datetime">Set Send Time and Date:</label><br>
                        <form style="padding:3px; height:80px">
                            <input type="checkbox" name="Dateandtime" value="Time"> Date and Time: <input type="datetime-local" id="datetime" style="width:35%" />
                            <br>
                            <input style="padding:1px" type="checkbox" name="SendNow" value="SendNow"> Send Now
                        </form>
                    </div>

                    <!--  傳送到主頁  -->
                    <div class="form-group">
                        <label for="modal-datetime">Also send to main page:</label>
                        <form style="padding:3px; height:80px">
                          <p>Note: You can only post one message at a time on your mainpage.</p>
                          <input style="margin: 1%;" type="checkbox" name="yes" value="yes"> Yes<br>
                          <input style="margin: 1%;" type="checkbox" name="no" value="no"> No<br>
                        </form>
                    </div>

<section>
<!--TEXT AREA -->
<div>
 <table id="inputText">

</table>

<!--EMOJI PLUGINS(UNDONE) -->
<div id="emos" style="display:none; position:fixed; padding:5%; background-color: lightgrey; width:30%; height:30%">
      <button class="tablinks" id="emojis" rel="(moonwink)"><img/></button>
      <button class="tablinks" id="emojis">Emoji</button>
      <button class="tablinks" id="emojis">Emoji</button>
      <button class="tablinks" id="emojis">Emoji</button>
      <button class="tablinks" id="emojis">Emoji</button>
      <button class="tablinks" rel="Appointment">Emoji</button>
      <button class="tablinks" rel="Appointment">Emoji</button>
      <button class="tablinks" rel="Appointment">Emoji</button>
      <button class="tablinks" rel="Appointment">Emoji</button>
      <button class="tablinks" rel="Appointment">Emoji</button>
      <button class="tablinks" rel="Appointment">Emoji</button>
      <button class="tablinks" rel="Appointment">Emoji</button>
      <button class="tablinks" rel="Appointment">Emoji</button>

</div>
</div>
<!--STICKER -->
<div id="sticker" style="display:none">
 <table>
  <tr>
    <th style="height:150px; padding:1.5%; background-color: #ddd; color:red">Sticker is not available now.</th>
  </tr>
  <tr>
    <td style="background-color: #ddd">
    <form style="padding:1%">
  </form>
  </td>
  </tr>
</table>
</div>
<!--IMAGE -->
<table id="image" style="display:none; background-color: lightgrey">
<th>Choose the image you want to upload.</th>
<td style="height:200px; width:100%; padding:3%">
  <input type="file"/>
</td>

</table>

<!--COUPON -->
  <table id="coupon" style="display:none;background-color: lightgrey;">
    <tr>
      <th>Coupon Content</th>
      <td style="height:200px; width:100%; padding:3%">There's no coupon currently. Please create one at....</td>
    </tr>
  </table>

<!--ELECTION -->
  <table id="election" style="display:none;background-color: lightgrey;">
    <tr>
      <th style="padding:1%">Election Content</th>
      <td style="height:200px; width:100%; padding:3%">There's no election currently. Please create one at....</td>
    </tr>
  </table>

<!--PROMOTION -->
  <table id="promotion" style="display:none;background-color: lightgrey;">
    <tr>
      <th style="padding:1%">Promotion Content</th>
      <td style="height:200px; width:100%; padding:3%">There's no promotion currently. Please create one at....</td>
    </tr>
  </table>

<!--SURVEY -->
  <table id="survey" style="display:none;background-color: lightgrey;">
    <tr>
      <th style="padding:1%">Survey Content</th>
      <td style="height:200px; width:100%; padding:3%">There's no survey currently. Please create one at....</td>
    </tr>
  </table>

</section>



<table>
<td style="padding:5%">
  <p>Note: You can send 3 messages at a time. Please select the type of message you want to send.</p>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" id="btn-text" >Text</button>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" id="btn-sticker">Sticker</button>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" id="btn-image" >Image</button>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" id="btn-coupon">Coupon</button>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" id="btn-election" >Election</button>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" id="btn-promotion">Promotion</button>
  <button style="width:20%;margin:0.5%; padding:0.5%; float:left" id="btn-survey" >Survey</button>

</td>
</table>


<div class="modal-footer">
     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     <button type="button" class="btn btn-primary" id="modal-draft">Save as Draft</button>
     <button type="button" class="btn btn-primary" id="modal-submit">Submit</button>
</div>
</form>
</div>
</div>
</div>
</div>

<!-- =======================  END MODAL  ======================-->
<section style="margin:0">
  <div class="tab">
          <div style="width:20%; position:absolute; float:left;margin-top: 1% ">
            <div class="input-group">
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search by text.."/>
            <div class="input-group-addon"><span class="fa fa-search fa-fw" id="ticket-search"></span></div>
          </div></div>
                <div style="width:15%; position:absolute; float:left; margin: 1% 1% 1% 21%">
                <select class="form-control" id="modal-category">
                  <option>Category</option>
                  <option>Text</option>
                  <option>Image</option>
                  <option>Video</option>
                  <option>Audio</option>
                  <option>Location</option>
                  <option>Sticker</option>

                </select>
                </div>
            <!--     [status filter] -->
                 <div style="display:block;width:15%; position:relative; float:left; margin: 1% 1% 1% 37%">
                <select class="form-control" id="modal-priority">
                  <option>Status</option>
                  <option><button class="tablinks" rel="Appointment">Reserved</button></option>
                  <option><button class="tablinks" rel="Draft">Draft</button></option>
                </select>
              </div>

  </div>
        <div class="tab">
            <button class="tablinks_sort" style="width:5%">No.</button>
            <button class="tablinks_sort" style="width:20%">Content</button>
            <button class="tablinks_sort" style="width:10%">Category</button>
            <button class="tablinks_sort" style="width:15%">Tags(optional)</button>
            <button class="tablinks_sort" style="width:10%">Status</button>
            <button class="tablinks_sort" style="width:20%">Appointment</button>
        </div>
</section>
<section>
<div id="Appointment" class="tabcontent" style="display:block; margin:0 ;padding:0 ">
        <div class="tabcontent" style="display:block" >
        <table style="margin:0">
          <tbody id="data-appointment"></tbody>
        </table>

        </div>

</div>

<div id="Draft" class="tabcontent" style="display:none; margin:0 ;padding:0 ">
                <div class="tabcontent" style="display:block;  margin:0 ;padding:0">
                <table>
                <tbody id="data-draft"></tbody>
                </table>
                </div>



</div>

<div id="History" class="tabcontent">

                <div class="tabcontent">
               <p>There's no saved history.</p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th hidden> ID </th>
                <th id="co" onclick="sortOpenTable(1)"> Content </th>
                <th id="ca" onclick="sortOpenTable(2)"> Category </th>
                <th id="st" onclick="sortOpenTable(3)"> Status </th>
                <th id="pr" onclick="sortOpenTable(4)"> Priority </th>
                <th id="ow" onclick="sortOpenTable(5)"> Owner </th>
                <th>  </th>
              </tr>
            </thead>
            <tbody id="open-ticket-list"></tbody>

          </table>
        </div>


</div>

</section>

    <!-- View Modal -->
  <section>
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="viewModalTitle"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form>
              <!-- 編號 -->
              <div class="form-group">
                <label for="task-name" class="col-2 col-form-label">Limit Users:  </label>
                <span id="view-lmtuser">-</span>
              </div>
              <!-- 任務內容 -->
              <div class="form-group">
                <label for="task-name" class="col-2 col-form-label">Content:  </label>
                <span id="view-textinput"></span>
              </div>
              <!-- 狀態 -->
              <div class="form-group">
                <label for="status">Status:  </label>
                <span id="view-stat"></span>
              </div>
              <!-- 負責人 -->
              <div class="form-group">
                <label for="owner" class="col-2 col-form-label">Owner:  </label>
                <span id="view-owne"></span>
              </div>

            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </section>

    <!-- Edit Modal -->
  <section>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalTitle"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form>
              <!-- 編號 -->
              <div class="form-group">
                <label for="task-name" class="col-2 col-form-label">ID</label>
                <span id="edit-id"></span>
              </div>
              <!-- 任務內容 -->
              <div class="form-group">
                <label for="edit-task-name" class="col-2 col-form-label">Content:  </label>
                <div class="col-4">
                  <input class="form-control" type="text" value="" id="edit-taskContent">
                </div>
              </div>
              <!-- 狀態 -->
              <div class="form-group">
                <label for="edit-status">Status:  </label>
                <select class="form-control" id="edit-status">
                  <option>reserved</option>
                  <option>draft</option>
                </select>
              </div>

              <!-- 負責人 -->
              <div class="form-group">
                <label for="edit-owner" class="col-2 col-form-label">Owner:  </label>
                <div class="col-4">
                  <input class="form-control" type="text" value="" id="edit-owner">
                </div>
              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="edit-submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
</section>

      </div>
      <style>


table {
  margin-top:2%;
  margin-bottom: 3%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th{
  width:15%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
  padding:2%;
}

body {font-family: "Lato", sans-serif;}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    height:auto;

}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
/*    padding: 6px 12px;
*/    border: 1px solid #ccc;
    border-top: none;
    height:500px;
}

/* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.topright:hover {color: red;}
</style>


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
      <script src="javascripts/firebaseConfig.js"></script>
      <script src="javascripts/message_overview.js"></script>


   </body>
</html>
