<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title><%= title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="stylesheets/sb-admin-2.css">
    <link rel="stylesheet" href="stylesheets/dashboard.css" >
    <%# 自己的code%>
    <link rel="stylesheet" href="stylesheets/main.css" />
</head>
	<body>
		<nav style="width:100%; height:auto; position:fixed;top: 0;background-color:#fffffb">
			<div id=nav-header>
<!-- 				<img id="nav_img" src="https://cdn1.iconfinder.com/data/icons/seo-icons-4/29/Internet-512.png"> -->
				<h2>TiniLine</h2>
			</div>
			<button id="profile_btn">PRO<br/>FILE</button>
			<button id="create_btn">CREATE A CHAT</button>
		</nav>

		<div>
			<h4 style="margin-top: 10%;position:relative">您的訂購</h4>
			<table>
			<tr><td>NAME</td><td id="view_name">WWY</td></tr>
			<tr><td>TIME</td><td id="view_email">2017.08.17</td></tr>
			<tr><td>ITEM</td><td id="view_mobile">BUSINESS PLAN</td></tr>
			<tr><td>TOTAL</td><td id="view_birthday">NTD$2,400</td></tr>
			<tr><td>PAYMENT</td><td id="view_gender">CREDIT CARD - MASTER CARD 土地銀行</td></tr>
			</table>
		</div>

		<a href="/"><div style="float:right; margin-right:20% ;margin-top:1%;width:7%;height:auto; position:relative" id="info"><h4>回主選單</h4></div></a>

<script></script>
	</body>
</html>