<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title><%= title %></title>
   </head>
   <body style="background-image: url(https://s-media-cache-ak0.pinimg.com/originals/54/3e/3d/543e3dfabf58ff1a36dcf5af876d2f49.jpg)">
   <div id="previewCanvas">


   </div>



      <button onclick="openWin()">Create window</button>

<script>

var myWindow;

function openWin() {
    myWindow = window.open("/preview.html", "", "width=350, height=500");
}
</script>
<script src="/Users/apple/Desktop/shield_updated/public/javascripts/preview.js"></script>
</body>
</html>

