<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="stylesheets/sb-admin-2.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/tag.css">
  </head>
  <body>


    <div id="wrapper">
      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">PS Admin</a>
          </div>
          <!-- /.navbar-header -->

          <ul class="nav navbar-top-links navbar-right">
              <!-- /.dropdown -->
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                      <li><a href="/profile"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
                      <li class="divider"></li>
                      <li><a href="/login" id="signout-btn"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                  </ul>
                  <!-- /.dropdown-user -->
              </li>
              <!-- /.dropdown -->
          </ul>
          <!-- /.navbar-top-links -->

          <div class="navbar-default sidebar" role="navigation">
              <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                   <li>
                      <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                   </li>
                   <li>
                      <a href="/chat"><i class="fa fa-commenting fa-fw"></i> Chat</a>
                   </li>
                   <li>
                      <a href="/history"><i class="fa fa-commenting fa-fw"></i> History</a>
                   </li>
                   <li>
                      <a href="/calendar"><i class="fa fa-table fa-fw"></i> Calendar</a>
                   </li>
                   <li>
                      <a href="/ticket" class="active"><i class="fa fa-ticket fa-fw"></i> Support</a>
                   </li>
                </ul>
              </div>
              <!-- /.sidebar-collapse -->
          </div>
          <!-- /.navbar-static-side -->
      </nav>
    </div>

    <div id="tag-wrap">
      <div id="tag-header">
        <div id="header-left">
          <span class="bigFont">Tag</span>
        </div>
      </div>
      <br />

      <br />
      <div id="tag-tab">

        <div class="tabcontent">
          <table class="table table-striped" id="tagTable">
            <thead>
              <tr>
                <th> 欄位名稱 </th>
                <th> 欄位類別 </th>
                <th> 欄位設定 </th>
                <th> 移動 </th>
                <th> 刪除 </th>
                <th> 可變更(系統設定) </th>
              </tr>
            </thead>
            <tbody id="tagTable-body">
              <!-- <tr class="tag-content" id="tag-index-0">
                <td class="tag-name">ID</td>
                <td>
                  <select class="tag-option">
                    <option value="text" selected="selected">文字數字</option>
                    <option value="date">日期</option>
                    <option value="time">時間</option>
                    <option value="single_select">單選</option>
                    <option value="multi_select">多選</option>
                  </select>
                </td>
                <td class="tag-set-td">
                  <select class= "tag-set" id="set0">
                    <option value="single">單行文字數字</option>
                    <option value="multi">段落</option>
                  </select>
                </td>
                <td> delete </td>
              </tr>
              <tr class="tag-content" id="tag-index-1">
                <td class="tag-name">ID</td>
                <td>
                  <select class="tag-option">
                    <option value="text">文字數字</option>
                    <option value="date" selected="selected">日期</option>
                    <option value="time">時間</option>
                    <option value="single_select">單選</option>
                    <option value="multi_select">多選</option>
                  </select>
                </td>
                <td class="tag-set-td">
                  <select class= "tag-set" id="set1">
                    <option value="mm/dd/yy">Default - mm/dd/yy</option>
                    <option value="yy-mm-dd">ISO 8601 - yy-mm-dd</option>
                    <option value="d M, y">Short - d M, y</option>
                    <option value="d MM, y">Medium - d MM, y</option>
                    <option value="DD, d MM, yy">Full - DD, d MM, yy</option>
                    <option value="'day' d 'of' MM 'in the year' yy">With text - 'day' d 'of' MM 'in the year' yy</option>
                  </select>
                </td>
                <td> delete </td>
              </tr>
              <tr class="tag-content" id="tag-index-2">
                <td class="tag-name">ID</td>
                <td>
                  <select class="tag-option">
                    <option value="text">文字數字</option>
                    <option value="date">日期</option>
                    <option value="time" selected="selected">時間</option>
                    <option value="single_select">單選</option>
                    <option value="multi_select">多選</option>
                  </select>
                </td>
                <td class="tag-set-td">
                  <select class= "tag-set" id="set2">
                    <option value="12">12 hr</option>
                    <option value="24">24 hr</option>
                  </select>
                </td>
                <td> delete </td>
              </tr>
              <tr class="tag-content" id="tag-index-3">
                <td class="tag-name">ID</td>
                <td>
                  <select class="tag-option">
                    <option value="text">文字數字</option>
                    <option value="date">日期</option>
                    <option value="time">時間</option>
                    <option value="single_select" selected="selected">單選</option>
                    <option value="multi_select">多選</option>
                  </select>
                </td>
                <td class="tag-set-td">
                  <textarea class= "tag-set" id="set3" rows="3" columns = "10" style="resize: vertical;"></textarea>
                </td>
                <td> delete </td>
              </tr>
              <tr class="tag-content" id="tag-index-4">
                <td class="tag-name">ID</td>
                <td>
                  <select class="tag-option">
                    <option value="text">文字數字</option>
                    <option value="date">日期</option>
                    <option value="time">時間</option>
                    <option value="single_select">單選</option>
                    <option value="multi_select" selected="selected">多選</option>
                  </select>
                </td>
                <td class="tag-set-td">
                  <textarea class= "tag-set" id="set3" rows="3" columns = "10" style="resize: vertical;">
                  </textarea>
                </td>
                <td> delete </td>
              </tr> -->
            </tbody>
          </table>
        </div>
        <div class="btn-toolbar">
          <button type="button" class="btn btn-default" id="add-tag">
            <span class="fa fa-plus fa-fw"></span> Add a tag
          </button>
          <button type="button" class="btn btn-default pull-right" id="all-confirm">Confirm</button>
          <button type="button" class="btn btn-default pull-right" id="all-cancel">Cancel</button>
        </div>

      </div>
    </div>

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="javascripts/firebaseConfig.js"></script>
    <script src="javascripts/tag.js"></script>
    <script src="javascripts/sb-admin-2.js"></script>
  </body>
</html>
