body {
  /*display: inline-block;*/
}
#content {
  display: none;
  height: 450px;
  width: 90%;
  float: left;
}
#content table {
  display: inline-block;
  margin-right: 50px;
  /*width: 70%;*/
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  /*padding-right: 10px;*/
}
#content table th, td{
  padding: 10px;
  text-align: center;
}
#content tr:nth-child(even) {
  background-color: #e8e8e8;
}

#option {
  display: none;
  /*padding: 10px;*/
  width: 40%;
  float: right;
}
#option-content {
  margin: auto;
  width: 50%;
  padding: 10px;
}
select {
  width: 100%;
}
