#headBar {
  margin-bottom: 20px;
}
#filter_option .multiselect-container {
  padding-top: 0px;
}
.filterPanel {
  margin-top: 10px;
}
.filterUnit {
  display: inline;
  padding: 5px;
  margin-bottom: 50px;
}
.filterSlider label {
  position: absolute;
  width: 20px;
  margin-left: -100px;
  float: left;
  text-align: center;
  margin-top: -10px;
  white-space: nowrap;
}

.filterSlider {
  margin: auto 2em;
  float: right;
  height: 200px;
}
.dropdown-menu {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 29%;
  height: 500px;
  text-align: center;
  padding:5px 0;
}
/* Style the buttons inside the tab */
div.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 10px 0px 10px 0px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}
.tablinks_area{
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
.list-group{
  float: left;
  padding: 12px 12px;
  /*border: 1px solid #ccc;*/
  width: 100%;
  border-left: none;
  display:block;
  /*overflow-y: scroll;*/
  overflow-x: hidden; /*byFWL*/
}
/*#nick {
  font-weight: bold;
}*/
/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: #ddd;
}
/* Create an active/current "tab button" class */
div.tab button.active {
  background-color: #ccc;
}
/* Style the tab content */
.contentPanel {
  /*margin-left: 100px;*/
  height: 500px;
  width: 69%;
  float: right;
}
.searchBox {
  padding-left: 10px;
  margin-right: 3px;
  float: left;
  border: 1px solid #ccc;
  width: 70%;
  height: 5%;
  display:block;
}
.datepicker, .filterDate{
  /*width: 25%;*/
}
#canvas{
  height: 85%;
  width: 100%;
}
.tabcontent {
  float: left;
  border: 1px solid #ccc;
  /*width: 70%;*/
  height: 100%;
  border-left: none;
  display:block;
  background-color: lightblue;
  display: none;
  width: 100%;
}
.messagePanel {
  height: 95%;
  overflow-y: scroll;
  clear:right;
}
.topright{
  /*margin: 20px;*/
  height: 5%;
  float:right;
}
p {
  padding-left: 2px;
}
.reply{
  float:top;
}

#userInfoBtn {
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}
.info_input_table {
  width: 100%;
}
.info_input_table tr{
}
.userInfo-th {
  width: 50%;
  padding-top: 10px;
}
.userInfo-td {
  width: 50%;
  padding-top: 10px;
  /*margin: 10px;*/
}
#send-message {
  margin-top: 20px;
  margin-bottom: 20px;
  float: right;
}
.tablinks{
  padding-left: 10px
}
#clients {
  list-style: none;
}
.edit-button{
  display: none;
  padding: 2px 5px;
  border: 1px solid gray;
  background-color: lightgray;
}

.multiselect-container li {
  margin: 10px;
}
.userPhoto {
  float: left;
  margin-right: 40px;
}

.loadingIcon {
  margin-top: 10px;
  display: inline-block;
  border: 5px solid transparent;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
