.contentPanel {
  /*margin-left: 100px;*/
  height: 600px;
  width: 35%;
  float: left;
  resize: both;
  overflow: auto;
}
.unread_msg{
  border:1px solid limegreen;
  border-radius:50px;
  width:25px;
  height:20px;
  background-color:limegreen;
  color:white;
  text-align:center;
  float:right;
  margin-top:0px
}
.tablinks_head{
  font-size:14px;
  font-weight:bold;
}
@media (max-width: 770px) {
  #聊天軟體,#聊天用戶,#聊天室, #用戶檔案, #內部聊天室  {
    width: 99% !important;
    float:left;
  }
  #navHead{
    margin-left: 10%!important;
  }

}
@media (max-width: 450px) {
 .navMenu  {
    width:60%;

  }
}
.sendTime{
  color:grey;
  font-size: 10px
}
#prof_nick{
  color:lightgrey;
  font-size: 100%;
  float:bottom;
  margin:0;
  padding-top: 7%
}

.chat_prof_head{
  height:30px;
  width:100%;
  background-color: #454140;
}
.chat_prof{
  width:100%;
  height:70px;
  float:top;
  padding-bottom: 1%;
  background-color: grey;
}
html,body{
  height: 100%;
  font-family: Microsoft JhengHei;
}
.sender{
  display:none;
}
#wrapper{
  height: 7%;
}
#home{
  position: relative;
  left: 0;
  width: 100%;
  height: 93%
}
.chatArea{
  width: 100%;
  height: 100%
}
.colume{
  height: 100%;
  border-left: 1px solid rgb(199, 199, 199) ;
}

#chatApp{
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgb(82, 81, 119);
  width: 70px;
  text-align: left;
  padding:5px 0;
  overflow: hidden ;
  z-index: 10;
  transition: .3s ease-in-out;
}
.chatApp_item{
  display: flex;
  color: white;
  height: 60px;
  padding: 10px;
  cursor: pointer;
}
.chatApp_item h4{
  margin-left: 10px;
  display: none;
}
.chatApp_item:hover,.select{
  background-color: rgb(133, 134, 180);
}
.software_icon{
  width: 40px;
  height: 40px
}

#user {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 25%;
  text-align: center;
  padding-left: 70px  ;
  transition: .5s ease-in-out;
  overflow: hidden;
}
.filter_head{
  padding: 10px;
  height: 80px;
}
.filter_head i{
  font-size: 20px;
  margin: 0 5px;
  float: right;
  cursor: pointer;
}
.filter_head .fa-filter{
  float: left;
}
.search{
  width: 100%
}
#searchBox {
  padding-left: 25px;
  margin: 3px;
  float: left;
  border: 1px solid #ccc;
  width: 80%;
  height: 25px;
}
#filterClean{
  width: 30px  ;
  height: 30px  ;
  border-radius: 50%  ;
  background-color: transparent;
}
#user select{
  float: right;
  border-radius: 5px;
  width: 100px;
}
.tablinks_area button {
  border-radius: 0;
  margin: 0;
  display: flex;
  background-color: inherit;
  color: black;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  font-weight: bold;
}
.tablinks_area button:hover{
  background-color: rgb(194, 194, 194);
}
.filterArea{
  position: relative;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.filterPanel{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.filterBar {
  display: inline;
  margin: 5px 0 ;
  width: 100%
}
.filter_btn{
  width: 100%;
  margin: 0;
  padding: 5px 0;
  font-size: 16px;
  background-color: transparent;
  text-align: left;
  border-radius: 0
}
.filter_btn:hover{
  background-color: #ccc
}
.dropdown-menu{
  position: fixed;
  top: 0;
}
.tablinks_head{
  overflow: hidden;
  height: 80px;
  width: 100%;
  border-bottom: 2px solid #ccc;
  transition: .3s ease-in-out;
}
.tablinks_area{
  display: none;
  position: relative;
  background-color: inherit;
  height: 88% ;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  z-index: 2;
}
.tablinks_area::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: transparent;
}
.tablinks_area::-webkit-scrollbar{
	width: 4px;
	background-color: transparent;
}
.tablinks_area::-webkit-scrollbar-thumb{
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(135, 135, 135);
}
.tablinks img{
  width: 50px
}
.tablinks .img_holder{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  overflow: hidden;
  margin-right: 10px;
  min-width: 50px
}
.list-group{
  float: left;
  padding: 12px 0;
  width: 100%;
  border-left: none;
  display:block;
}

#chat {
  height: 100%;
  width: 55%;
  float: left;
}
#內部聊天室{
  height: 100%;
  float: left;
}
#infoPanel{
  border: 1px solid lightgray ;
  border-radius: 5px;
  display: inline-flex;
  width: 20%;
}

#headBar {
  margin-bottom: 20px;
  display: flex;
}
button{
  border-radius: 5px ;
  margin: 5px;
  border:0;
}
.datepicker{
  border-radius: 5px;
  border: 0px;
  padding-left: 5px ;
  width: 100px;
  margin: 0 5px
}

.filterArea select{
  border-radius: 5px ;
  border: 0
}
.filterArea h4{
  width: 100%;
  margin: 0;
  padding: 5px;
  border-bottom: 1px lightgray solid ;
  text-align: center;
  cursor: pointer;
}

.filterSlider label {
  position: absolute;
  width: 20px;
  margin-left: -100px;
  float: left;
  text-align: center;
  margin-top: -10px;
  white-space: nowrap;
}
.filterSlider {
  margin: auto 2em;
  float: right;
  height: 200px;
}
.dropdown-menu {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#showChatApp{
  display:none;
  height:500px;
  align-items:center;
  padding-right:1px;
  cursor: pointer;
  background-color: rgb(186, 186, 186);
}
.chatArea{
  display: flex;
}

.datepicker, .filterDate{
  /*width: 25%;*/
}
#canvas{
  height: 58.5%;
  width: 100%;
}
.tabcontent {
  float: left;
  border: 1px solid #ccc;
  /*width: 70%;*/
  height: 100%;
  border-left: none;
  display:block;
  background-color: transparent;
  display: none;
  width: 100%;
}
.messagePanel {
  height: 95%;
  overflow-y: scroll;
  clear:right;
}
.topright{
  /*margin: 20px;*/
  height: 5%;
  float:right;
}
p {
  padding-left: 2px;
}
.reply{
  float:top;
}
#userInfoBtn {
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}
.info_input_table {
  width: 100%;
}
.info_input_table tr{}
.userInfo-th {
  width: 50%;
  padding-top: 10px;
}
.userInfo-td {
  width: 50%;
  padding-top: 10px;
  /*margin: 10px;*/
}
#send-message {
  margin-top: 20px;
  margin-bottom: 20px;
  float: right;
}
#clients {
  list-style: none;
}
.edit-button{
  display: none;
  padding: 2px 5px;
  border: 1px solid gray;
  background-color: lightgray;
}
.multiselect-container li {
  margin: 10px;
}
.userPhoto {
  float: left;
  margin-right: 40px;
}
#infoPanel td{
  word-wrap: break-word;
}
#infoCanvas{
  height: 92%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}
.card{
  width: 100%;
}
.photoContainer{
  display: flex;
  justify-content: center;
}
.panelTable{
  margin: 5%;
}
.tagSpan{
  margin: 2%;
  padding: 1% 3% ;
  border: .75px solid black ;
  border-radius: 5px ;
}
.ticket-card{
  border: 1px solid black;
  border-radius: 5px;
  margin: 3% 1%;
  width: 98%;
  overflow: hidden;
}
.card-footer{
  background-color: lightgray ;
}
