div.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
  text-align: center;
  padding:10px 0;
  overflow-x: hidden; /*byFWL*/
}
/* Style the buttons inside the tab */
div.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 10px 0px 10px 0px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}
/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: #ddd;
}
/* Create an active/current "tab button" class */
div.tab button.active {
  background-color: #ccc;
}
/* Style the tab content */
#canvas {
  height: 85%;
}
.tabcontent {
  float: left;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
  display:block;
  background-color: lightblue;
  display: none;
}
.messagePanel {
  height: 95%;
  overflow-y: scroll;
  overflow-x: hidden;
  clear:right;
}
.topright{
  height: 5%;
  float:right;
}
p {
  padding-left: 2px;
}
.reply{
  float:top;
}
.tablinks{
  padding-left: 10px
}
#clients {
  list-style: none;
}
.edit-button{
  display: none;
  width: 40px;
  text-align: center;
  padding: 2px 5px;
  border-radius: 5%;
  transition: all .4s ease-in-out;
}
.yes:hover{
  background-color: rgba(137, 226, 143, 0.8);
  cursor: pointer;
}
.no:hover{
  background-color: rgba(221, 139, 130, 0.85);
  cursor: pointer;
}
