div.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 500px;
  text-align: center;
  padding:5px 0;
}
/* Style the buttons inside the tab */
div.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 10px 0px 10px 0px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}
.list-group{
  float: left;
  padding: 12px 12px;
  border: 1px solid #ccc;
  width: 100%;
  border-left: none;
  display:block;
  overflow-y: scroll;
  overflow-x: hidden; /*byFWL*/
}
/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: #ddd;
}
/* Create an active/current "tab button" class */
div.tab button.active {
  background-color: #ccc;
}
/* Style the tab content */
.contentPanel {
  height: 500px;
}
.searchBox {
  padding-left: 10px;
  float: left;
  border: 1px solid #ccc;
  width: 50%;
  height: 5%;
  border-left: none;
  display:block;
}
#canvas{
  height: 85%;
}
.tabcontent {
  float: left;
  border: 1px solid #ccc;
  width: 70%;
  height: 100%;
  border-left: none;
  display:block;
  background-color: lightblue;
  display: none;
}
.messagePanel {
  height: 95%;
  overflow-y: scroll;
  clear:right;
}
.topright{
  /*margin: 20px;*/
  height: 5%;
  float:right;
}
p {
  padding-left: 2px;
}
.reply{
  float:top;
}

#userInfoBtn {
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}
.info_input_table {
  width: 100%;
}
.info_input_table tr{
}
.userInfo-th {
  width: 50%;
  padding-top: 10px;
}
.userInfo-td {
  width: 50%;
  padding-top: 10px;
  /*margin: 10px;*/
}
#send-message {
  margin-top: 20px;
  margin-bottom: 20px;
  float: right;
}
.tablinks{
  padding-left: 10px
}
#clients {
  list-style: none;
}
.edit-button{
  display: none;
  padding: 2px 5px;
  border: 1px solid gray;
  background-color: lightgray;
}
